name: Minty Fresh Continuous Delivery

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Setup
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      # Get the test Keystore from Github secrets
      - name: Deploy APK signing test keystore and related secrets
        env:
          KEYSTORE_BASE64: ${{ secrets.APK_SIGNING_TEST_KEYSTORE }}
          KEYSTORE_PATH: ${{ runner.temp }}/apk_signing_test_keystore.jks
        run: echo $KEYSTORE_BASE64 | base64 --decode > $KEYSTORE_PATH
      - name: Deploy APK signing release keystore and related secrets
        env:
          KEYSTORE_BASE64: ${{ secrets.APK_SIGNING_RELEASE_KEYSTORE }}
          KEYSTORE_PATH: ${{ runner.temp }}/apk_signing_release_keystore.jks
        run: echo $KEYSTORE_BASE64 | base64 --decode > $KEYSTORE_PATH
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Replace versionName from the release TAG before building - the TAG should use semantic versioning (https://semver.org/)
      - name: Update version name from release TAG
        run: ./scripts/publish/updateVersionName.sh ${TAG}
        env:
          TAG: ${{ github.event.release.tag_name }}

      # Build debug and staging (with the test Keystore)
      - name: Build with Gradle, run tests and sign the debug APK (with the test Keystore)
        env:
          ORG_GRADLE_PROJECT_apkSigningKeystorePath: ${{ runner.temp }}/apk_signing_test_keystore.jks
          ORG_GRADLE_PROJECT_apkSigningKeyAlias: signing
          ORG_GRADLE_PROJECT_apkSigningKeystorePassword: ${{ secrets.APK_SIGNING_TEST_PASSWORD }}
          ORG_GRADLE_PROJECT_apkSigningKeyPassword: ${{ secrets.APK_SIGNING_TEST_PASSWORD }}
        run: ./gradlew assembleDebug

      # Build release (with the release Keystore)
      - name: Build with Gradle, run tests and sign the release APK and AAB (with the release Keystore)
        env:
          ORG_GRADLE_PROJECT_apkSigningKeystorePath: ${{ runner.temp }}/apk_signing_release_keystore.jks
          ORG_GRADLE_PROJECT_apkSigningKeyAlias: signing
          ORG_GRADLE_PROJECT_apkSigningKeystorePassword: ${{ secrets.APK_SIGNING_RELEASE_PASSWORD }}
          ORG_GRADLE_PROJECT_apkSigningKeyPassword: ${{ secrets.APK_SIGNING_RELEASE_PASSWORD }}
        run: ./gradlew assembleRelease bundleRelease

      # Upload APKs to workflow artifacts
      - uses: actions/upload-artifact@v3
        with:
          path: |
            app/build/outputs/apk/**/*.apk
            app/build/outputs/bundle/**/*.aab
          if-no-files-found: error
          retention-days: 5

  upload-to-release:
    runs-on: ubuntu-latest

    needs: build

    permissions:
      contents: write # needed for uploading files to releases

    steps:
      - uses: actions/checkout@v3
      # Download artifacts from the build workflow
      - uses: actions/download-artifact@v3
        with:
          name: apk
          path: apk

      - name: Display structure of downloaded files just apks
        run: ls -R

      # Download artifacts from the build workflow
      - uses: actions/download-artifact@v3
        with:
          name: aab
          path: bundle

      - name: Display structure of downloaded files with aabs
        run: ls -R

      # Upload to GitHub Release
      - name: Upload all the APKs/AABs to release
        run: gh release -R ${GITHUB_REPOSITORY} upload ${TAG} ${FILES}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.event.release.tag_name }}
          FILES: |
            apk/**/*.apk
            bundle/**/*.aab

  increment-versions:
    runs-on: ubuntu-latest

    needs: upload-to-release

    steps:
      # Setup
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.DAILY_BUILD_VERSION_INCREMENT_TOKEN }}

      # Increment version code, update version name, and auto-commit
      - name: Increment the version code
        run: ./scripts/publish/incrementVersionCode.sh
      - name: Update version name from release TAG
        run: ./scripts/publish/updateVersionName.sh ${TAG}
        env:
          TAG: ${{ github.event.release.tag_name }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: main
          commit_message: Incremented version code from CI/CD workflow